.bg-primary {
  /*#4285f4*/
  /*#ed6761*/
  background-color: rgb(56, 81, 163) !important;
}
.btn-outline-primary {
    color: rgb(56, 81, 163);
    border-color: rgb(56, 81, 163);
}
.text-primary {
    color: rgb(56, 81, 163) !important;
}
a {
    color: rgb(56, 81, 163);
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: rgb(56, 81, 163);
    border-color: rgb(56, 81, 163);
}
.gridjs-tr th{
  background-color: rgb(56, 81, 163);
}
.card{
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.card-title{
  color: rgb(33, 37, 41);
}
.card .card-body .card-text {
  font-size: .9rem;
  font-weight: 400;
  color: #747373;
}
.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  border-color: rgba(0,0,0,.125);
}
.nav-item.active {
  background-color: rgba(0, 0, 0, 0.2);
}
.tab-content p{
  font-weight: 300;
}
.accordion-button:after {
    content: "\f078";
}
.introduction h2,h5,p{
  font-weight: 300;
}
.avatar{
  width: 150px;
  height: 150px;
}
time.icon
{
  font-size: 0.5em; 
  display: block;
  position: relative;
  width: 7em;
  height: 7em;
  background-color: #fff;
  margin: 1em auto 3em auto;
  border-radius: 0.6em;
  box-shadow: 0 0 0 1px #bdbdbd;
}

time.icon *
{
  display: block;
  width: 100%;
  font-size: 1.5em;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

time.icon strong
{
  position: absolute;
  top: 0;
  padding: 0.4em 0 0.1em 0;
  color: #fff;
  background-color: rgb(56, 81, 163);
  border-bottom: 1px dashed rgb(56, 81, 163);
  box-shadow: 0 2px 0 rgb(56, 81, 163);
}

time.icon span
{
  width: 100%;
  font-size: 2.8em;
  letter-spacing: -0.05em;
  padding-top: 1em;
  color: #2f2f2f;
}